apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ml-pipeline-ui
  name: ml-pipeline-ui
spec:
  selector:
    matchLabels:
      app: ml-pipeline-ui
  template:
    metadata:
      labels:
        app: ml-pipeline-ui
    spec:
      containers:
      - name: ml-pipeline-ui
        image: gcr.io/ml-pipeline/frontend
        imagePullPolicy: IfNotPresent
        env:
        - name: ARGO_ARCHIVE_LOGS
          value: "true"
        - name: ARGO_ARCHIVE_ARTIFACTORY
          value: minio
        - name: ARGO_ARCHIVE_BUCKETNAME
          value: mlpipeline
        - name: ARGO_ARCHIVE_PREFIX
          value: logs
        ports:
        - containerPort: 3000
      serviceAccountName: ml-pipeline-ui
