apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- github.com/kubeflow/manifests/common/knative/knative-serving/base?ref=v1.3.1
- github.com/kubeflow/manifests/common/knative/knative-eventing/base?ref=v1.3.1

patchesStrategicMerge:
- config-domain.yaml

patches:
- config-istio.yaml
